<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Recipes</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <nav>
        <a href="index.html" class="home">Home</a>
        <div>
            <a href="#" onclick="window.print(); return false;" class="print">Print</a>
        </div>
    </nav>
    
    <main class="allrecipes">
        <article>
            <header>
                <h1>Our Recipes</h1>
                <p>A collection of the Biagini Family's favorite recipes.</p>
            </header>
            
            <section>
                <h2>Table of Contents</h2>
                <ol>
                    {% for recipe in recipes %}
                    <li>{{ recipe.title }}</li>
                    {% endfor %}
                </ol>
            </section>
        </article>

        {% for recipe in recipes %}
        <article>
            <header>
                <h2>{{ recipe.title }}</h2>
                <p>{{ recipe.subtitle }}</p>
            </header>

            {% for section in recipe.sections %}
            <section>
                <h3>{{ section.title }}</h3>
                <div>
                    {% if section.ingredients %}
                    <div class="ingredients">
                        <ul>
                            {% for ingredient in section.ingredients %}
                            <li><b>{{ ingredient.name }}</b>{% if ingredient.quantity %}, {{ ingredient.quantity }}{% endif %}{% if ingredient.prep_note %} <small>{{ ingredient.prep_note }}</small>{% endif %}</li>
                            {% endfor %}
                        </ul>
                    </div>
                    {% endif %}
                    <div class="instructions">
                        {{ section.instructions | markdown }}
                    </div>
                </div>
            </section>
            {% endfor %}
            
            <footer>
                {%+ if recipe.footer +%}{{ recipe.footer | markdown }}{%+ endif +%}
                <small>recipe no. {{ loop.index }}</small>
            </footer>
        </article>
        {% endfor %}
    </main>
    <!-- <script src="script.js" defer></script> -->
</body>
</html>