<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Recipe Index</title>
	<link rel="stylesheet" href="style.css">
</head>
<body>
	<nav>
		<a href="#" class="home">Home</a>
	</nav>
	
	<main class="allrecipes">
		<article>
			<header>
				<h1>Our Recipes</h1>
				<p>A collection of the Biagini Family's favorite recipes.</p>
			</header>

			<section>
				<h2>All recipes</h2>
				<p><a href="all.html">View all recipes on a single page</a> (mainly useful for printing).</p>
			</section>			

			<section>
				<h2>Table of Contents</h2>
				<ol>
					{% for recipe in recipes %}
					<li><a href="{{ recipe.id }}.html">{{ recipe.title }}</a></li>
					{% endfor %}
				</ol>
			</section>
		</article>
	</main>
	<!-- <script src="script.js" defer></script> -->
</body>
</html>