<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Biagini Family Recipes: index</title>
	<link rel="stylesheet" href="/style.css">
</head>
<body>
	<nav>
		<a href="#" class="home">Home</a>
	</nav>
	
	<main>
		<article>
			<header>
				<h1>Ingredient Index</h1>
			</header>
			
			<section>
				<ol>
					<%- sorted_ingredients.each do |ingredient, recipes| -%>
						<li>
							<strong><%= ingredient %></strong>
							<ul>
								<%- recipes.each do |recipe| -%>
									<li>
										<a href="<%= recipe.relative_url %>"><%= recipe.title %></a>
									</li>
								<%- end -%>
							</ul>
						</li>
					<%- end -%>
				</ol>
			</section>
			
		</article>
	</main>

	<!-- <script src="script.js" defer></script> -->
</body>
</html>