<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Biagini Family Recipes: index</title>
	<link rel="stylesheet" href="/style.css">
</head>
<body>
	<nav>
		<div>
			<a href="/" class="home" title="Home (Table of Contents)">Home</a>
			<a href="/index/" class="index" title="Index of ingredients">Index</a>
			<!-- <a href="/groceries/" class="groceries" title="Printable grocery list">Groceries</a> -->
		</div>
	</nav>
	
	<main>
		<article>
			<header>
				<h1>Ingredient Index</h1>
			</header>
			
			<%- sorted_ingredients.each_with_index do |(ingredient, recipes), index| -%>
			<section>
				<h2><%= ingredient %></h2>
				<ul>
					<%- recipes.each do |recipe| -%>
					<li><a href="<%= recipe.relative_url %>" title="<%= recipe.description %>"><%= recipe.title %></a></li>
					<%- end -%>
				</ul>
			</section>
			<%- end -%>
			
		</article>
	</main>

	<!-- <script src="script.js" defer></script> -->
</body>
</html>