  <nav>
    <div>
      <%= link_to 'Home', root_path, class: 'home', title: 'Home (Table of Contents)' %>
      <%= link_to 'Index', ingredients_path, class: 'index', title: 'Index of ingredients' %>
      <%= link_to 'Groceries', groceries_path, class: 'groceries', title: 'Printable grocery list' %>
    </div>
    <%= yield :extra_nav if content_for?(:extra_nav) %>
  </nav>
