<%# locals: (items:) %>
<% items.each_with_index do |name, index| %>
  <div class="aisle-row" data-name="<%= name %>" data-index="<%= index %>">
    <div class="aisle-name-area">
      <span class="aisle-name"><%= name %></span>
    </div>
  </div>
<% end %>
