<% if current_kitchen %>
  <script type="application/json" nonce="<%= content_security_policy_nonce %>" data-search-overlay-target="data"><%= search_data_json.html_safe %></script>
  <dialog class="search-overlay" data-search-overlay-target="dialog" data-action="click->search-overlay#backdropClick">
    <div class="search-panel">
      <div class="search-input-wrapper" data-search-overlay-target="inputWrapper">
        <span class="search-icon">&#x2315;</span>
        <div class="search-pill-area" data-search-overlay-target="pillArea"></div>
        <input type="text"
               class="search-input"
               placeholder="Search recipes…"
               autocomplete="off"
               spellcheck="false"
               data-search-overlay-target="input"
               data-action="input->search-overlay#search keydown->search-overlay#keydown">
      </div>
      <ul class="search-results" data-search-overlay-target="results" role="listbox"></ul>
    </div>
  </dialog>
<% end %>
