<%# locals: (message:) %>
<turbo-frame id="nutrition-editor-form">
  <div class="editor-form">
    <p class="editor-error-message"><strong>Failed to load editor:</strong> <%= message %></p>
  </div>
</turbo-frame>
