<%# locals: (ingredient_rows:) %>
<table id="ingredients-table" class="ingredients-table" data-ingredient-table-target="table">
  <thead>
    <tr>
      <th class="col-name sortable" data-sort-key="name" data-action="click->ingredient-table#sort"
          role="columnheader" aria-sort="ascending">
        Name<span class="sort-arrow" aria-hidden="true"> &#9650;</span>
      </th>
      <th class="col-aisle sortable" data-sort-key="aisle" data-action="click->ingredient-table#sort"
          role="columnheader">
        Aisle<span class="sort-arrow" aria-hidden="true"></span>
      </th>
      <th class="col-data sortable" data-sort-key="data" data-action="click->ingredient-table#sort"
          role="columnheader">
        Data<span class="sort-arrow" aria-hidden="true"></span>
      </th>
      <th class="col-recipes sortable" data-sort-key="recipes" data-action="click->ingredient-table#sort"
          role="columnheader">
        Recipes<span class="sort-arrow" aria-hidden="true"></span>
      </th>
    </tr>
  </thead>
  <% ingredient_rows.each do |row| %>
    <%= render 'ingredients/table_row', row: row %>
  <% end %>
</table>
