/*********************************************************/
/* Base styles, applicable to all screen sizes and media */
/*********************************************************/

/* Made with invaluable assistance from ChatGPT and Claude. :) */

:root {
	--gingham-base: rgb(249, 242, 223);
	--gingham-red: rgba(190, 12, 30, 0.5);
	--gingham-stripe-width: 75px;

	--border-color: rgb(25, 25, 25);
	--text-color: rgb(50, 50, 50);

	--content-background-color: rgb(252, 255, 249);
	--highlighted-step-background-color: rgb(255, 255, 255);
}

html {
	font-size: 16px;
}

body {
	font-family: "Hoefler Text", serif;
	margin: 5rem auto 2.5rem auto;
	padding: 0 2.5rem;
	transition: padding 0.5s ease;
	/* Smoothly animates padding changes */
	max-width: 600px;
	min-width: 300px;
	color: var(--text-color);
	background-attachment: fixed;
	background-color: white;

	/* Nifty gingham pattern, but maybe more computation than really needs to happen here? */

	--weave-color: rgba(255, 255, 255, 0.03);
	--weave-stripe-width: 2px;

	background-image: repeating-linear-gradient(
			135deg,
			var(--weave-color) 0,
			var(--weave-color) var(--weave-stripe-width),
			transparent var(--weave-stripe-width),
			transparent calc(2 * var(--weave-stripe-width))
		),
		repeating-linear-gradient(
			45deg,
			var(--weave-color) 0,
			var(--weave-color) var(--weave-stripe-width),
			transparent var(--weave-stripe-width),
			transparent calc(2 * var(--weave-stripe-width))
		),
		repeating-linear-gradient(
			135deg,
			var(--gingham-red) 0,
			var(--gingham-red) var(--gingham-stripe-width),
			transparent var(--gingham-stripe-width),
			transparent calc(2 * var(--gingham-stripe-width))
		),
		repeating-linear-gradient(
			45deg,
			var(--gingham-red) 0,
			var(--gingham-red) var(--gingham-stripe-width),
			transparent var(--gingham-stripe-width),
			transparent calc(2 * var(--gingham-stripe-width))
		),
		linear-gradient(90deg, var(--gingham-base), var(--gingham-base));

	/* Alternative background image from <https://github.com/tanshoku/squidfingers-patterns/blob/master/pattern_070.gif> */
	/*
	background-image: url('data:image/gif;base64,R0lGODlhEAAQAJH/AKtBFL5QKMdpRQAAACwAAAAAEAAQAAACNJQFCceXAUNqBsQrqcFBs+tNW1ctB2RClXqynzuaK/nSQlS2r+4xliTT/CIi3xCk4fRakAIAOw==');
	background-repeat: repeat; 
	*/
}

nav {
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	z-index: 1000;
	display: flex;
	justify-content: space-between;

	background-color: rgba(249, 249, 249, 0.9);
	backdrop-filter: blur(10px);

	box-shadow:
		0 2px 4px rgba(0, 0, 0, 0.08),
		0 1px 2px rgba(0, 0, 0, 0.04);
}

nav a {
	font-family: ui-sans-serif, sans-serif;
	display: inline-block;
	text-decoration: none;
	font-weight: normal;
	padding: 0.5rem 1rem;
	line-height: 1.5;
	color: #333;
	transition: color 0.3s ease;
}

/* Optionally change color on hover/focus */
nav a:hover,
nav a:focus {
	color: #0077ff; /* For example */
}

/* Prevent the dotted outline from sticking */
nav a:focus {
	outline: none;
}

nav a.home::before {
	content: "🏠 ";
}

nav a.text::before {
	content: "📄 ";
}

nav a.print::before {
	content: "🖨️ ";
}

article {
	border: 1px solid var(--border-color);
	padding: 1rem;
	background-color: var(--content-background-color);
	border-radius: 0.25rem;

	box-shadow:
		rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
		rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

/* give articles breathing room in allrecipes view */
.allrecipes article {
	margin-bottom: 2.5rem;
}

header {
	text-align: center;
	margin-left: 2.5rem;
	margin-right: 2.5rem;
}

/* See https://www.fontsquirrel.com/fonts/quigleywiggly */
/* Removing for now so I can commit to GitHub without worrying about licensing */
/* @font-face {
	font-family: 'quigleywigglyregular';
	src: url('quigleywiggly-webfont.woff') format('woff');
} */

/* in allrecipes view, all headers get demoted by one to avoid multiple H1's on page */
header h1,
.allrecipes header h2 {
	/* font-family: 'quigleywigglyregular', cursive; */
	font-family: "Futura", sans-serif;
	font-weight: bold;
	font-size: 4rem;
	line-height: 1;
	margin: 2rem 0 1rem 0;
}

header p {
	font-style: italic;
	font-size: 1.5rem;
	margin-top: 0;
}

section {
	border-radius: 1rem;
	padding: 1.5rem;
}

/* in allrecipes view, all headers get demoted by one to avoid multiple H1's on page */
section h2,
.allrecipes section h3 {
	font-size: 1.5rem;
	margin-top: 0;
	margin-bottom: 0.5rem;
	border-bottom: 1px solid var(--border-color);
	padding-bottom: 0.5rem;
}

section > div {
	display: flex;
	flex-wrap: wrap;
	gap: 1rem;
}

.ingredients {
	flex: 2;
}

.instructions {
	flex: 3;
	line-height: 1.5;
}

.ingredients ul {
	list-style: none;
	margin: 0;
	padding: 0;
	line-height: 2rem;
}

.ingredients ul ul {
	line-height: 1rem;
}

.ingredients ul li {
	white-space: nowrap;
	break-inside: avoid;
	page-break-inside: avoid;
}

.ingredients ul li small {
	display: block;
	font-style: italic;
	font-size: 0.95em;
	margin: 0 0 0 1rem;
	padding: 0;
	line-height: 1rem;
	column-count: 1;
	/* avoids breaking up prep notes because... reasons */
}

.instructions p:first-of-type {
	margin-top: 0;
}

footer {
	margin: 0 2.5rem 1rem 2.5rem;
	font-style: italic;
	text-align: center;
	position: relative;
}

footer:before {
	content: "❇︎";
}

footer small {
	text-align: right; /* Right-align the small text */
	display: block; /* Ensures it takes up a full line for alignment to work */
}

/******************************************************/
/* Styles for interactivity, applies to screen media */
/*****************************************************/

@media screen {
	/* for highlighting sections */
	section {
		transition:
			transform 0.5s ease,
			background-color 0.5s ease,
			box-shadow 0.5s ease;
		background-color: transparent;
	}

	section h2,
	section .instructions,
	.ingredients ul li {
		cursor: pointer;
	}

	/* no JS interactivity on allrecipes view, use default cursor */
	.allrecipes section h2,
	.allrecipes section .instructions,
	.allrecipes .ingredients ul li {
		cursor: default;
	}

	section.highlighted {
		transform: scale(1.02);
		background-color: var(--highlighted-step-background-color);
		box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
	}

	.ingredients ul li.crossed-off {
		text-decoration: line-through;
		color: #888;
	}
}

/****************************************/
/* Styles for mobiles and small screens */
/****************************************/

/* specifically target phones for small font */
@media (hover: none) and (pointer: coarse) and (max-width: 600px) {
	html {
		font-size: 14px;
	}

	body {
		margin: 3rem auto 2.5rem auto; /* need to add vars to calculate these automatically */
	}
}

@media screen and (max-width: 600px) {
	body {
		padding: 0 0.5rem;
	}

	/* On small screens, switch to two ingredient columns and full-width instructions */
	.ingredients ul {
		column-count: 2;
		column-gap: 0.25rem;
	}

	.ingredients ul li p {
		margin: 0 0 0 0.5rem;
	}

	.ingredients,
	.instructions {
		flex: 1 1 100%;
	}
}

/********************/
/* Styles for print */
/********************/

@media print {
	html {
		font-size: 10pt;
		margin: 0;
		padding: 0;
	}

	body {
		margin: 0 auto;
		padding: 0;
		background-color: white;
		color: black;
		background: none;
	}

	nav {
		display: none;
	}

	article {
		border: none;
		background-color: white;
		box-shadow: none;
		break-after: page;
	}

	a {
		color: black;
		text-decoration: none;
	}

	/* Do not allow page breaks inside sections */
	section {
		page-break-inside: avoid;
		break-inside: avoid;
	}

	h2 {
		page-break-after: avoid;
		break-after: avoid;
	}
}
