<turbo-frame id="login-link-frame-<%= params[:id] %>">
  <div class="login-link-result">
    <div class="transfer-link-row">
      <input type="text" class="input-base" readonly value="<%= @login_link_url %>">
      <button type="button" class="btn"
              data-action="settings-editor#copyToClipboard"
              data-settings-editor-copy-text-param="<%= @login_link_url %>">Copy</button>
    </div>
    <p class="transfer-hint">Share this link. Expires in 24 hours.</p>
  </div>
</turbo-frame>
